.addPost {
  display: grid;
  grid-template-columns: 70% 25%;
  margin-top: 15vh;
  align-self: left;
}

.formWrapper {
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px;
  width: 90%;
}

.formWrapper .formTextBox {
  resize: none;
  height: 250px;
  width: 89%;
  outline: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

.formTitle {
  display: grid;
}

.inputTitle {
  font-size: 20px;
  outline: none;
  width: 89%;
  border: none;
  border-radius: 5px;
  border-bottom: 1px solid rgb(63, 63, 63);
}

.addPost .optionBar {
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.formTextBox {
}

.formBtn {
  display: grid;
  outline: none;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  background-color: rgb(3, 87, 0);
  color: lightblue;
  border-radius: 5px;
}

.rules {
  border: 2px solid black;
  padding: 10px;
}

.rules p {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid black;
  margin-top: 7px;
  padding-bottom: 10px;
}

.addPost .postSetting{
  float: right;
  margin-right: 80px;
}
