.forumWrapper {
  margin: 100px auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 30%;

  height: 80vh;
  grid-gap: 15px;
  padding: 10px;
}

.forumBoard {
}

.forumSideBoard {
  background-color: lightseagreen;
  padding: 10px;
}

.forumWrapper .forumHeader {
  background-color: lightblue;
  margin: 0;
  padding: 5px;
  display: grid;
  grid-template-columns: 95% 5%;
  height: 7%;
  box-sizing: border-box;
}

.forumWrapper .forumHeader span {
  margin: 0;
  padding: 6px 5px 0 25px;
  font-size: 15px;
  cursor: pointer;
}
.forumWrapper .forumHeader span:hover {
  text-decoration: underline;
}

.forumWrapper .forumHeader h3 {
  margin: 0;
  margin: 10px 10px 0 5px;
  height: 50px;
}

.forumWrapper .subForumTitle {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.forumWrapper .subForumBorder {
  background-color: #fff;
  margin: 25px 0 25px 0;
  padding: 20px;
  cursor: pointer;
}

.forumWrapper .subForumBorder:hover {
  color: rgb(19, 148, 196);
}

.forumWrapper .postTitle {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

.forumWrapper .subBread {
  margin-bottom: 10px;
  margin: 0;
}
