.homeImage {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.homeInfoDiv {
  background-color: rgba(24, 24, 24, 0.322);
  width: 40%;
  height: 30%;
  right: 10%;
  position: absolute;
  border-radius: 3px;
  padding: 10px;
}

.homeInfoDiv .homeInfoP {
  color: rgb(255, 255, 255);
  text-transform: none;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.homeInfoDiv .homeInfoP2 {
  color: rgb(255, 255, 255);
  margin-top: 50px;
  text-transform: none;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.exploreBtn {
  border: 2px solid rgba(255, 255, 255, 0.589);
  text-decoration: none;
  padding: 18px 24px;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  outline: none;
  text-decoration: none;
  background-color: rgba(190, 190, 190, 0);
  cursor: pointer;
  overflow: hidden;
  color: white;
}

.exploreBtn:hover {
  background-color: rgba(0, 0, 0, 0.349);
  color: white;
  transition: 500ms;
}

.startTravel {
  margin-left: 5vw;
  margin-top: 25vh;
  font-family: "Montserrat", sans-serif;
}

.startTravel p {
  font-size: 30px;
  margin: 0 0 5px 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #bdecff;
  letter-spacing: 4.2px;
}
