.postDivInfo .profileIMG {
  margin-top: 9%;
  max-width: 60%;
  border-radius: 50%;
}

.postDivInfo .imageCard span {
  position: relative;
  top: -3px;
}

.forumBoard .postByName {
  color: rgb(0, 88, 170);
}

.forumBoard .postNameAndDate {
  margin-left: 200px;
  font-family: "Montserrat", sans-serif;
}

.forumBoard .topicTitle {
  margin-left: 200px;
  font-size: 20px;
  font-weight: bold;
}

.postDivInfo .postInfo {
  margin-top: 10px;
  background-color: rgb(212, 223, 238);
  padding: 10px;
  border-radius: 15px;
  height: fit-content;
  width: 95%;
}

.postDivInfo {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.postDivInfo .imageCard {
  width: 200px;
  padding-left: 40px;
}


.forumBoard .underInfo .commentBox {
  margin: 0 auto;
  resize: none;
  height: 150px;
  width: 700px;
  overflow: auto;
  outline: none;
  font-size: 17px;
}

.forumBoard .underInfo .commentBtn {
  float: right;
}

.forumBoard .underInfo .commentName {
  margin-left: 20px;
}

.forumBoard .postDivInfo {
  display: grid;
}

.forumBoard .commentBtn {
  display: grid;
  margin: 15px 10px 0 0;
  float: left;
}

.forumBoard .likes {
  cursor: pointer;
  margin-left: 10px;
}
