.profileIMG2 {
  margin-left: 15px;
  margin-top: 20%;

  max-width: 70%;
  border-radius: 50%;
}

.postDivInfo .profileIMG {
  margin-top: 9%;
  max-width: 60%;
  border-radius: 50%;
}

.defaultIMG2 {
  margin-top: 15%;
  margin-left: 20px;
  max-width: 60%;
  border-radius: 50%;
}

.postDivInfo .imageCard span {
  position: relative;
  top: -3px;
}
.postDivInfo .imageCard p {
  margin: 0 auto;
  align-self: center;
}

.forumBoard .postByName {
  color: rgb(0, 88, 170);
}

.forumBoard .postNameAndDate {
  margin-left: 200px;
  font-family: "Montserrat", sans-serif;
}

.forumBoard .topicTitle {
  margin-left: 200px;
  font-size: 20px;
  font-weight: bold;
}

.postDivInfo .postInfo {
  margin-top: 10px;
  background-color: rgb(212, 223, 238);
  padding: 10px;
  border-radius: 15px;
  height: fit-content;
  width: 95%;
}

.postDivInfo {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.postDivInfo .imageCard {
  width: 200px;
  justify-items: center;
  margin-left: 15%;
}

.forumBoard .underInfo .commentBox {
  margin: 0 auto;
  resize: none;
  height: 80px;
  width: 600px;
  overflow: auto;
  outline: none;
  font-size: 17px;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  border: 1px solid rgba(73, 73, 73, 0.424);
}

.forumBoard .underInfo .commentBtn {
  border-radius: 0 10px 10px 0;
  outline: none;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.205);
  background-color: rgba(255, 255, 255, 0.534);
}

.forumBoard .underInfo .commentName {
  width: fit-content;
  text-align: center;
}

.forumBoard .postDivInfo {
  display: grid;
}

.forumBoard .commentBtn {
}

.forumBoard .likes {
  cursor: pointer;
  margin-left: 10px;
}

.forumBoard .underInfo {
  display: grid;
  grid-template-columns: 80px 620px 40px;

  margin-top: 5%;
  margin-bottom: 10vh;
}

.postNameAndDate .postByName:hover {
  cursor: pointer;
  text-decoration: underline;
}

.forumBoard .editPost {
  max-width: 500px;
  width: 100%;
  height: fit-content;
  outline: hidden;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.forumBoard .editPost:focus {
  outline: green;
  border: 1px solid rgb(17, 152, 197);
  border-radius: 10px;
}

.forumBoard .editTitle {
  font-size: 20px;
  margin-right: 10px;
  outline: none;
  border: 1px solid rgb(28, 157, 200);
  width: fit-content;
  background-color: transparent;
  border-radius: 5px;
}

.forumWrapper .forumHeader2 {
  background-color: lightblue;
  margin: 0;
  padding: 5px;
  display: grid;
  grid-template-columns: 3% 92% 5%;
  height: 53px;
  box-sizing: border-box;
}

.forumWrapper .forumHeader2 h3 {
  margin: 0;
  margin: 10px 10px 0 5px;
  height: 50px;
}
