.MuiSvgIcon-root:hover {
  opacity: 80%;
}

.MuiSvgIcon-root {
  transform: scale(1.3);
  margin-top: 10px;
}

.profileMenu .welcomeMsg {
  display: block;
  margin-right: 15px;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: green;
  min-width: 20px;
  padding-top: 10px;
}

.MuiButton-root:hover {
  text-decoration: none;
  background-color: transparent;
}
@media (min-width: 2000px) {
  .profileMenu svg {
    font-size: 4rem;
  }
  .MuiTypography-body1 {
    font-size: 3rem !important;
  }
  .MuiSvgIcon-fontSizeSmall {
    font-size: 3em !important;
  }
}
