.MuiSvgIcon-root:hover {
  transform: scale(1.5);
  transition: 300ms;
  background-color: transparent;
}

.MuiSvgIcon-root {
  transform: scale(1.3);
}

.MuiButton-root:hover {
  text-decoration: none;
  background-color: red;
}
@media (min-width: 2000px) {
  .profileMenu svg {
    font-size: 4rem;
  }
  .MuiTypography-body1 {
    font-size: 3rem !important;
  }
  .MuiSvgIcon-fontSizeSmall {
    font-size: 3em !important;
  }
}
