.profileDiv .checkWrapper {
  display: grid;
  grid-template-columns: 25% 33% 33%;
  grid-template-rows: auto;
  padding: 10px;
  grid-gap: 10px;
  border-bottom: 2px solid lightblue;
  margin-top: 15vh;
}

.profileDiv {
  display: grid;
  margin: 0 auto;
  width: 80%;
}

.profileDiv .imgDiv p {
  padding-left: 70px;
  font-size: 17px;
}

.profileDiv .profileIMG {
  width: 30vh;
  border-radius: 50%;
}

.profileDiv .profileInfo {
  font-size: 18px;
}
.profileDiv .profileInfo2 {
  font-size: 18px;
}

.profileDiv .profileInfo2 p span {
  color: grey;
  font-weight: 300;
}

.profileDiv .profileInfo p span {
  color: grey;
  font-weight: 300;
}

.profileDiv .imgDiv {
  display: inline-block;
}
