.register {
}

.register .grid-item-input {
  margin-top: 15vh;

  background-color: lightblue;
  opacity: 100%;
  padding: 20px;
  font-size: 30px;

  border-radius: 5px;
}

.register .inner-grid {
  border-bottom: 1px solid black;
}

.register .inner-grid:hover {
  border-bottom: 1px solid rgb(58, 255, 58);
}

.register .inner-grid input {
  background: transparent;
  outline: none;
}

.alreadyAUser {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #f50057;
  letter-spacing: 2.2px;
}

.register .grid-container {
  min-width: 500px;
  width: 500px;
  margin: 0 auto;
}
.register .grid-item {
  background-color: rgba(128, 128, 128, 0);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.register .inner-grid input {
  width: 90%;
  margin: 10px 0 0 0;
  border: none;
  border-radius: 2px;
  padding: 15px 0 1px 1px;
  display: block;
}

.register button {
  width: 93%;
  display: block;
  margin: 10px auto;
  border: none;
  padding: 10px;
  color: white;
  background: rgb(19, 165, 92);
  border-radius: 3px;
  cursor: pointer;
  font-size: 2vh;
}

.register button:hover {
  transform: scale(1.02);
  transition: 300ms;
}

/* LÅS form div med backgrounds bildens tavla */
.register input[placeholder="First name"],
[placeholder="Last name"],
[placeholder="email"],
[placeholder="password"],
[placeholder="confirm password"] {
  font-size: 2vh;
}
