.userItemDiv {
  display: grid;
}

.userItemDiv .profileCard {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;

  border-color: lightblue;
  border-style: solid;
  border-radius: 5px;
  margin-top: 10px;
  background-color: rgba(173, 216, 230, 0.459);
}

.userItemDiv .imageCard {
  text-align: center;
}
.userItemDiv .infoCard {
  text-align: left;
}

.userItemDiv .defaultIMG {
  width: 60%;
  background-color: rgb(15, 148, 15);
  border-radius: 50%;
}

.userItemDiv .profileIMG {
  max-width: 60%;
  border-radius: 50%;
}

.userItemDiv .profileCard span {
  position: relative;
  top: -3px;
}

.userItemDiv .profileCard span {
  position: relative;
  top: -3px;
}

.userItemDiv .profileCard .infoCard .clickableIcon:hover {
  cursor: pointer;
  border-bottom: 1px solid black;
}
