.userItemDiv {
  display: grid;
}

.userItemDiv .profileCard {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;

  border-color: lightblue;
  border-style: solid;
  border-radius: 5px;
  margin-top: 10px;
  background-color: rgba(173, 216, 230, 0.459);
}

.userItemDiv .imageCard {
  text-align: center;
}
.userItemDiv .infoCard {
  text-align: left;
}

.userItemDiv .infoCard p {
  padding: 0;
  margin: 0;
}

.userItemDiv .infoCard p .timeP {
  margin-left: 4px;
  padding-top: 12px;
  position: absolute;
  display: inline;
}

.userItemDiv .defaultIMG {
  margin-top: 9%;
  width: 60%;
  border-radius: 50%;
}

.userItemDiv .profileIMG {
  margin-top: 9%;
  max-width: 60%;
  border-radius: 50%;
}

.userItemDiv .profileCard span {
  position: relative;
  top: -3px;
}

.userItemDiv .profileCard span {
  position: relative;
  top: -3px;
}

.userItemDiv .profileCard .nameSpan:hover {
  position: relative;
  top: -3px;
  cursor: pointer;
  border-bottom: 1px solid lightskyblue;
}

.userItemDiv .profileCard .nameSpan {
  font-weight: bold;
  color: rgb(32, 100, 226);
}

.userItemDiv .profileCard .infoCard .clickableIcon:hover {
  cursor: pointer;
  border-bottom: 1px solid black;
}


/* Modal CSS */
