.users h4 {
  margin: 120px auto;
  text-align: center;
}

.users .titleDiv {
  margin-top: 100px;
}

.users .titleDiv p {
  font-size: 25px;
  padding-left: 27px;
  padding-bottom: 10px;
  letter-spacing: 1.5px;
  border-bottom: 2px solid lightblue;
}
